{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow border-0">
        <div class="card-body p-4">
            <h5 class="fw-bold mb-3">OTP verification</h5>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="otp" class="form-control" placeholder="Enter Your OTP Here" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 rounded-pill">Verify</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}