{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow border-0">
        <div class="card-body p-4">
            <h5 class="fw-bold mb-3">Password Reset</h5>
            <p class="small text-muted">Enter your registered phone number::</p>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="phone" class="form-control" placeholder="Your phone number" required>
                </div>
                <button type="submit" class="btn btn-success w-100 rounded-pill">Send OTP</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}